:root {
    --cor-fundo: #ff4262;
    --cor-principal: #182ad3 ;
    --cor-secundaria: #d8406e;
    --cor-destaque: #e42bfd;
    --cor-texto: #000000c9;
  }
  body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
  }
  h1{
    color: var(--cor-destaque);
   }
   